* {
  box-sizing: border-box;
  transition: all 0.3s;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#show_text {
  position: fixed;
  left: 0%;
  top: 0;
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 10px;
  z-index: 10;
  overflow: scroll;
}

#show_text::-webkit-scrollbar {
  display: none;
}

#html {
  position: fixed;
  left: 0%;
  top: 50%;
  width: 100%;
  height: 50vh;
}

#buttons {
  margin: 5px;
  position: fixed;
  width: 50px;
  height: 200px;
  right:0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}
